.products {
  margin: 30px auto;
  max-width: 1200px;
  &_title {
    @include font($fs: 44px, $lh: 50px);
    max-width: 950px;
  }
  &_photos {
    @include display-flex($jc: space-around, $ai: flex-start);
    height: 100%;
    &-main {
      @include display-flex($fd: column, $ai: flex-start);
      position: relative;
      & p {
        margin-top: 6px;
      }
      &__coast {
        position: absolute;
        right: 15%;
      }
      &__colors {
        position: absolute;
        top: 20px;
        right: 20px;
        & img {
          border: 1px solid #fff;
        }
        & img:hover {
          cursor: pointer;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
          border: none;
        }
      }
    }
    &-gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      row-gap: 20px;
      column-gap: 30px;

      &__product {
        position: relative;
        &--coast {
          position: absolute;
          right: 30%;
        }
        &--colors {
          position: absolute;
          top: 17px;
          right: 20px;
          & img {
            border: 1px solid #fff;
          }
          & img:hover {
            cursor: pointer;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
            border: none;
          }
        }
        &--label {
          @include font;
          border: 1px solid #1a1818;
          border-radius: 40px;
          padding: 4px 8px;
          position: absolute;
          top: 18px;
          left: 18px;
        }
      }
    }
  }
}
